* {
    margin: 0;
    padding: 0;

    body {
        width: 100%;

        .nav-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .icon-container {
                margin: 10px;
                font-size: 28px;
                line-height: 30px;
            }

            .manu-container {
                ul {
                    display: flex;

                    li {
                        display: inline;
                        margin: 3px;

                        a {
                            text-decoration: none;
                            color: black;
                            margin-right: 15px;
                            font-size: 25px;


                        }

                        a:hover {
                            font-size: 30px;
                            font-weight: bold;
                            transition: all .4s ease-in;
                            color: rgba(255, 141, 34, 0.884);
                        }
                    }
                }
            }
        }

        main {

            // banner section
            .banner-container {
                display: flex;
                gap: 5px;
                margin: 20px;
                margin-top: 40px;
                justify-content: space-between;
                align-items: center;

                // border: 2px solid green;

                .banner-description {
                    text-align: start;

                    h2 {
                        margin-bottom: 8px;
                    }
                }

                .banner-img-div {
                    width: 100%;
                    // border: 2px solid black;
                    position: relative;


                    .banner-img {
                        width: 100%;

                        img {
                            width: 100%;
                        }

                    }

                    .Chef-div {
                        background: #000;
                        color: white;
                        padding: 10px;
                        width: fit-content;
                        position: absolute;
                        top: 290px;
                        right: 50px;

                    }
                }
            }

            .picake-container {
                display: flex;
                gap: 5px;
                flex-direction: row-reverse;
                margin: 20px;
                margin-top: 100px;
                justify-content: space-between;
                align-items: center;
                // border: 2px solid red;

                .picake-description{
                    width: 50%;
                    // border: 2px solid yellow;
                }

                .picake-img-div {
                    flex: 1;
                    width: 50%;
                    // border: 2px solid green;

                    .picake-img {
                        width: 100%;
                        // border: 2px solid gray;

                        img {
                            width: 100%;
                        }
                    }

                    .Chef2-div{
                        background: #000;
                        color: white;
                        padding: 10px;
                        width: fit-content;
                    }
                }

            }
        }
    }
}

// responsive
@media screen and (max-width:576px) {
    body {
        .nav-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .manu-container {
                ul {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }

        main {

            // banner 
            .banner-container {
                flex-direction: column;

                .banner-img-div {
                    // .banner-img{

                    // }

                    .Chef-div {
                        top: 120px;
                        right: 10px;

                        // h6{
                        //     font-size: 10px;
                        //     margin-bottom: 5px;
                        // }
                        // p{
                        //     font-size: 8px;
                        // }
                        // h4{
                        //     font-size: 15px;
                        // }
                    }
                }
            }
        }

    }
}